{{!< layout/default}}

{{#extend "css"}}
{{/extend}}


<h1 id="cabezera" class="fa fa-truck fa-3x" aria-hidden="true">  Mantenedor usuario </h1>

<div class="row">
	<div class="col-md-4 col-sm-6 col-xs-12">
		Rut:<input type="text" id="txtRut" class="form-control">
		Nombres:<input type="text" id="txtNombres" class="form-control">
		Apellidos:<input type="text" id="txtApellidos" class="form-control">
		Usuario:<input type="text" id="txtUsuario" class="form-control">
		Contraseña:<input type="text" id="txtContraseña" class="form-control">

		Tipo Usuario:<select id="txtTipoUsuario" class="form-control" >
				<option value="Administrador">Administrador</option>
				<option value="Secretaria">Secretaria</option>
		</select>

		Telefono:<input type="text" id="txtTelefono" class="form-control">
		Email:<input type="text" id="txtEmail" class="form-control">

	</div>

	<div class="col-md-4 col-sm-12 col-xs-12">
		<br><br>
			<button type="button" id="btnGuardar" value="Guardar" class="btn btn-success fa fa-2x fa-floppy-o btn-block"> Guardar</button>
		<br>
    	<button type="button" id="btnEliminar" value="Eliminar" class="btn btn-danger fa fa-2x fa-trash-o btn-block" > Eliminar</button>
    	<br>
    	<button type="button" id="btnModificar" value="Modificar" class="btn btn-warning fa fa-2x fa-pencil-square-o btn-block" onclick=Modificar_U() > Modificar</button>
    	<br>
    	<button type="button" id="btnNuevo" value="Nuevo" class="btn btn-warning fa fa-2x fa-file-o btn-block" onclick=Nuevo_U() > Nuevo</button>
   	</div>
   		
</div>


{{#extend "js"}}
<script>
    function saveUser() {
        ajax({
            url: '/api/createUser',
            type: 'POST',
            data: {
                dni: '111111111',
                name: 'juan',
                lastname: 'correa',
                email: 'jcorr014@gmail.com',
                password: '1234'
            }
        }).then(data=>{
            console.log(data)
        })
    }

    function disableUser() {
        ajax({
            url: '/api/disableUser',
            type: 'DELETE',
            data: {
                email: 'jcorr014@gmail.com'
            }
        }).then(data=>{
            console.log(data);
        })
    }

    $('#btnGuardar').on('click', function(){
        saveUser();
    })

    $('#btnEliminar').on('click', function(){
        disableUser();
    })
</script>
{{/extend}}



