{{!< layout/default}}

{{#extend "css"}}
{{/extend}}


<h1 id="cabezera" class="fa fa-truck fa-3x" aria-hidden="true">  Mantenedor usuario </h1>

<div class="row">
	<div class="col-md-4 col-sm-6 col-xs-12">
        Email:<input type="text" id="txtEmail" class="form-control">
        Contraseña:<input type="password" id="txtContraseña" class="form-control">
        Rut:<input type="text" id="txtRut" class="form-control">
		Nombres:<input type="text" id="txtNombres" class="form-control">
		Apellidos:<input type="text" id="txtApellidos" class="form-control">
		

		Tipo Usuario:<select id="cboTipoUsuario" class="form-control" >
                <option value="">Seleccione cargo....</option>
                <option value="Administrador">Administrador</option>
				<option value="Secretaria">Secretaria</option>
		</select>

		Telefono:<input type="text" id="txtTelefono" class="form-control">
		

	</div>

	<div class="col-md-2 col-sm-12 col-xs-12">

    </div>
       
    <div class="col-md-4 col-sm-12 col-xs-12">
		<br><br>
			<button type="button" id="btnGuardar" value="Guardar" class="btn btn-success fa fa-2x fa-floppy-o btn-block"> Guardar</button>
		<br>
    	<button type="button" id="btnEliminar" value="Eliminar" class="btn btn-danger fa fa-2x fa-trash-o btn-block" > Eliminar</button>
    	<br>
    	<button type="button" id="btnModificar" value="Modificar" class="btn btn-warning fa fa-2x fa-pencil-square-o btn-block" () > Modificar</button>
    	<br>
    	<button type="button" id="btnNuevo" value="Nuevo" class="btn btn-warning fa fa-2x fa-file-o btn-block" > Nuevo</button>
   	</div>
   		
</div>

<h1 id="cabezera" class="fa fa-3x fa-users" aria-hidden="true">  Listado de usuarios en sistema </h1>
<center><div id="loading" style= " z-index: 30001;"></div></center>
<div class="table-responsive">
<table id="GridUsers" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
            	<th style="display:none">id</th>
            	<th style="display:none">rev</th>
                <th>DNI</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>userType</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
            	<th style="display:none">id</th>
            	<th style="display:none">rev</th>
                <th>Nombres</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>userType</th>
            </tr>
        </tfoot>

    </table>
</div>

{{#extend "js"}}
<script>
    var jsonUsers = {};
    var G_DNI= ""
    $(document).ready(function () {
        listUsers()
    });


    function saveUser() {
        var name = document.getElementById("txtNombres").value
        var lastname = document.getElementById("txtApellidos").value
        var Email = document.getElementById("txtEmail").value 
        var DNI = document.getElementById("txtRut").value //  var dni = $('#txtRut').val();
        var pass = document.getElementById("txtContraseña").value
        var userType = document.getElementById("cboTipoUsuario").value 
        var phone = document.getElementById("txtTelefono").value 

       

        //console.log(phone)
        //console.log('------')
        if(name == "" || lastname=="" || Email=="" || DNI=="" || pass=="" || userType=="" || phone=="" ){
            alert("faltan campos por completar")
        }else{
            //console.log("todos los campos OK")
             ajax({
                url: '/api/createUser',
                type: 'POST',
                data: {
                    dni: DNI,
                    name: name,
                    lastname: lastname,
                    email: Email,
                    password: pass,
                    userType: userType,
                    phone: phone
                }
            }).then(data=>{
                console.log(data)
            })
        }

       
        
    }

    function disableUser(id) {
        ajax({
            url: '/api/disableUser',
            type: 'DELETE',
            data: {
                email: id
            }
        }).then(data=>{
            console.log(data);
        })
    }

    function listUsers(){
        ajax({
            url: '/api/listUsers'
        }).then(data=>{
            jsonUsers = data
            console.log(jsonUsers)
            //console.log(jsonUsers)
            datatable = $('#GridUsers').dataTable({
                    "bAutoWidth" : false,
                    "responsive": true,
	                "aaData" : data,
		            "columns" : [ 
		            		{"data" : "_id"}, 
                            {"data" : "_rev"},
                            {"data" : "dni"}, 
		                    {"data" : "name"}, 
		                    {"data" : "lastname"}, 
                            {"data" : "_id"},
                            {"data": "userType"}
		        	],
	    			"columnDefs": [
	            		{"targets": [ 0,1 ],
	                 	"visible": false,
	                 	"searchable": false},
	        		],
		    		"select":
		    			{style: 'single'}
            })
            $('#GridUsers tbody').on('click', 'tr', function () {
                clearUsers()
                if ( $(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                }
                else {
                    datatable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
                        
                
                   // console.log($(this))
                    G_DNI = $(this)[0].children[0].innerText
                    //console.log(G_DNI)
                    
                    for (var i=0; i < jsonUsers.length; i++){
                        if(jsonUsers[i]["dni"]== G_DNI ){
                            //console.log(jsonUsers[i]["name"])
                            document.getElementById("txtContraseña").value = jsonUsers[i]["password"]
                            document.getElementById("txtTelefono").value =  jsonUsers[i]["phone"]
                        }
                    }
                    
                    document.getElementById("txtRut").value = $(this)[0].children[0].innerText
                    document.getElementById("txtNombres").value = $(this)[0].children[1].innerText
                    document.getElementById("txtApellidos").value = $(this)[0].children[2].innerText
                    document.getElementById("txtEmail").value = $(this)[0].children[3].innerText
                    //console.log($(this)[0].children[4].innerText)
                    $('#cboTipoUsuario').val($(this)[0].children[4].innerText).trigger('change');
    		});
        })
    }
    

    function clearUsers(){
        console.log("Campos limpiados")
        document.getElementById("txtEmail").value = ""
        document.getElementById("txtContraseña").value = ""
        document.getElementById("txtRut").value = ""
        document.getElementById("txtNombres").value = ""
        document.getElementById("txtApellidos").value = ""
        document.getElementById("cboTipoUsuario").value = ""
        document.getElementById("txtTelefono").value = ""
    }

    function DeleteUser(id, rev){
            $.ajax({
                url: '/api/deleteUser',
                type: 'DELETE',
                data: {id, rev},
                beforeSend: function(){
                    //$('#loading').append('<img src="/public/images/loading3.gif" height=200 width=250>');
                }
            })
            .done(function(data) {
               console.log(data)
                //table.row('.selected').remove().draw( false );
                console.log("se elimino")
                    //////creacion del log
               // createLog("delete","se elimino usuario " + id, "User")

            })
            .fail(function() {
                console.log("error al eliminar usuario =S");
            });
    }

    $('#btnGuardar').on('click', function(){
            saveUser();
    })

    $('#btnEliminar').on('click', function(){
        var id = document.getElementById("txtEmail").value 
        if(id!=""){
            disableUser(id);
        }else{
            alert("seleccione el usuario que desea eliminar")
            clearUsers()
        }
       
    })

    $('#btnNuevo').on('click', function(){
      clearUsers()
    })

    $('#btnModificar').on('click', function(){
       modUser();
    })

    function modUser() {
        var name = $('#txtNombres').val();
        var lastname = $('#txtApellidos').val();
        var email = $('#txtEmail').val();
        var dni = $('#txtRut').val();
        var userType = $('#cboTipoUsuario').val();
        var phone = $('#txtTelefono').val();

        console.log(name, lastname, email, dni, userType, phone)
        ajax({
            url: 'api/modUser',
            type: 'PUT',
            data: {
                email,
                name,
                lastname,
                dni,
                userType,
                phone
            }
        }).then(data=>{
            console.log(data);
            if(data.ok) {
                listUsers();
            }
        });
        
    }


</script>
{{/extend}}



